body {
  margin: 0;
  background: #070707;
  color: white;
  font-family: Arial;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #ff2d3f;
}

.search {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.card {
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background: #111;
}

.bad {
  color: red;
}

.good {
  color: lime;
}